#index
  %section#ante-art
    %h2 Ante/<span>Art</span>
    %nav
      %a(href="#paintings") Paintings
      %a(href="#photography") Photography
      -#%a(href="#installations") Installations
  %section#ante-poetry
    %h2 Ante/Poetry
    %nav
      %a(href="#molecular") Molecular
      %a(href="#moment-between-thoughts") Moment Between Thoughts
      %a(href="#unholy-litanies") Unholy Litanies
      %a(href="#soliloquoy") Soliloquoy
      %a(href="#hope-struck") Hope-struck
      %a(href="#filix") Filix
      %a(href="#re-vera") Re Vera
      %a(href="#neue") Neue
      %a(href="#tausend") Tausend
  %section#ante-interior
    %h2 Ante/Interior
    %nav
      -#%a(href="#berlin") Berlin
      %a(href="#london") London

= partial "contact"

#art
  = partial "art/paintings"
  = partial "art/photography"

#interior
  = partial "interior/london"

#poetry
  = partial "poetry/molecular"
  = partial "poetry/moment-between-thoughts"
  = partial "poetry/unholy-litanies"
  = partial "poetry/soliloquoy"
  = partial "poetry/hope-struck"
  = partial "poetry/filix"
  = partial "poetry/echelon"
  = partial "poetry/re-vera"
  = partial "poetry/neue"
  = partial "poetry/tausend"